@charset "UTF-8";
.botonsito {
  background-color: #A10000;
  text-decoration: none;
  color: #FFEBDD;
  padding: 2vh;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  border-radius: 5rem;
  transition: 1s;
  display: inline-block;
  font-family: para_nav, sans-serif;
}
.botonsito:hover {
  scale: 1.2;
  transition: 1s;
}

.boton_bordeado {
  text-decoration: none;
  color: black;
  border: 0.3125rem solid;
  border-radius: 2.5rem;
  background-color: #FFEBDD;
  padding: 2vh;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  border-color: #A10000;
  transition: 1s;
  display: inline-block;
  font-family: para_nav, sans-serif;
}
.boton_bordeado:hover {
  scale: 1.2;
  transition: 1s;
}
@media screen and (max-width: 769px) {
  .boton_bordeado {
    font-size: 2em;
    padding: 1vh;
    padding-right: 1.875rem;
    padding-left: 1.875rem;
  }
}

.botonsito-nav {
  background-color: #A10000;
  text-decoration: none;
  color: #FFEBDD;
  transition: 1s;
  border-radius: 5rem;
  float: right;
  font-size: 1.5em;
  padding-left: 2%;
  padding-right: 2%;
  margin-top: 2.5%;
  font-family: para_nav, sans-serif;
}
.botonsito-nav:hover {
  scale: 1.2;
  transition: 1s;
}

.botonsito-head {
  background-color: #A10000;
  text-decoration: none;
  color: #FFEBDD;
  padding: 2vh;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  border-radius: 5rem;
  transition: 1s;
  display: inline-block;
  font-family: para_nav, sans-serif;
}
.botonsito-head:hover {
  scale: 1.2;
  transition: 1s;
}
@media screen and (max-width: 769px) {
  .botonsito-head {
    font-size: 2em;
    padding: 1vh;
    padding-right: 1.875rem;
    padding-left: 1.875rem;
  }
}

.search-menu {
  border: 0.1875rem solid;
  border-color: rgb(138, 67, 67);
}

.header_cambiado {
  text-align: center;
}
.header_cambiado div {
  width: 100%;
  display: inline-block;
  margin-top: 5%;
}
.header_cambiado .p_header_1 {
  font-size: 1.5em;
  width: 60%;
  display: inline-block;
}
.header_cambiado .p_header_2 {
  font-size: 0.7em;
  width: 30%;
  display: inline-block;
}
.header_cambiado .p_header_3 {
  margin-top: 2%;
  font-size: 1.2em;
}
.header_cambiado a img {
  width: 5%;
}
@media screen and (max-width: 769px) {
  .header_cambiado .p_header_1 {
    font-size: 3em;
    width: 80%;
  }
  .header_cambiado .p_header_2 {
    font-size: 1.5em;
    width: 95%;
  }
  .header_cambiado .p_header_3 {
    margin-top: 10%;
    font-size: 2em;
  }
  .header_cambiado a img {
    width: 15%;
  }
}

.section_cambiado {
  text-align: center;
  background-color: #FFEBDD;
  margin-top: 10%;
  padding-bottom: 10%;
}
.section_cambiado div {
  margin-bottom: 5%;
}
.section_cambiado div h3 {
  margin-bottom: 5%;
  font-family: para_fotos;
}
.section_cambiado div p {
  width: 70%;
  display: inline-block;
  text-align: justify;
}
.section_cambiado div img {
  width: 50%;
  border-radius: 1.875rem;
  height: 50%;
}

@media screen and (max-width: 769px) {
  .section_cambiado {
    margin-top: 30%;
  }
  .section_cambiado div {
    display: inline-block;
    width: 100%;
  }
  .section_cambiado div h3 {
    font-size: 3em;
  }
  .section_cambiado div p {
    width: 80%;
    font-size: 1.5em;
    margin-bottom: 10%;
  }
  .section_cambiado div img {
    width: 80%;
    margin-top: 10%;
  }
}
body {
  background-color: #FFEBDD;
  width: 100%;
}

.bichito_conocenos {
  height: 100vh;
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1517686469429-8bdb88b9f907?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA==);
  background-position: center;
  text-align: center;
  background-repeat: no-repeat;
  font-family: para_foto;
  background-size: cover;
}
.bichito_conocenos h1 {
  text-align: center;
  margin-top: 15%;
  color: #fff;
  font-size: 6em;
}

.bichito_contacto {
  height: 100vh;
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1606455036891-15e4be71eef0?q=80&w=1986&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA==);
  background-position: center;
  text-align: center;
  background-repeat: no-repeat;
  font-family: para_foto;
  background-size: cover;
}
.bichito_contacto h1 {
  text-align: center;
  margin-top: 15%;
  color: #fff;
  font-size: 6em;
}

.bichito_delivery {
  height: 100vh;
  width: 100%;
  background-image: url(https://plus.unsplash.com/premium_photo-1661526833843-248a2f8fe129?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center;
  text-align: center;
  background-repeat: no-repeat;
  font-family: para_foto;
  background-size: cover;
}
.bichito_delivery h1 {
  text-align: center;
  margin-top: 15%;
  color: #fff;
  font-size: 6em;
}

.bichito_inicio {
  height: 100vh;
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1593504049359-74330189a345?q=80&w=2127&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA==);
  background-position: center;
  text-align: center;
  background-repeat: no-repeat;
  font-family: para_foto;
  background-size: cover;
}
.bichito_inicio h1 {
  text-align: center;
  margin-top: 15%;
  color: #fff;
  font-size: 6em;
}
.bichito_inicio h4 {
  text-align: center;
  margin-top: 2%;
  color: #fff;
  font-size: 2em;
}
.bichito_inicio a {
  margin-top: 10%;
}

.bichito_menu {
  height: 100vh;
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1589187151053-5ec8818e661b?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA==);
  background-position: center;
  text-align: center;
  background-repeat: no-repeat;
  font-family: para_foto;
  background-size: cover;
}
.bichito_menu h1 {
  text-align: center;
  margin-top: 15%;
  color: #fff;
  font-size: 6em;
}
.bichito_menu h4 {
  text-align: center;
  margin-top: 2%;
  color: #fff;
  font-size: 2em;
}
.bichito_menu a {
  margin-top: 10%;
}

.div-conocenos {
  margin-top: 10%;
}
.div-conocenos .conocenos-img1 {
  background-image: url(/assets/img/conocenos-1.png);
  background-position: center;
  text-align: center;
  background-repeat: no-repeat;
  font-family: para_foto;
  background-size: cover;
  border-radius: 1.25rem;
  height: 30vh;
}
.div-conocenos .conocenos-img1 h3 {
  font-size: 3.5em;
  margin-top: 20%;
  color: #fff;
}
.div-conocenos .conocenos-img2 {
  background-image: url(/assets/img/conocenos-2.png);
  background-position: center;
  text-align: center;
  background-repeat: no-repeat;
  font-family: para_foto;
  background-size: cover;
  border-radius: 1.25rem;
  height: 30vh;
  float: right;
}
.div-conocenos .conocenos-img2 h3 {
  font-size: 3.5em;
  margin-top: 30%;
  color: #fff;
}
.div-conocenos .conocenos-img3 {
  background-image: url(/assets/img/conocenos-3.png);
  background-position: center;
  text-align: center;
  background-repeat: no-repeat;
  font-family: para_foto;
  background-size: cover;
  border-radius: 1.25rem;
  height: 30vh;
}
.div-conocenos .conocenos-img3 h3 {
  font-size: 3.5em;
  margin-top: 25%;
  color: #fff;
}
.div-conocenos .conocenos-img4 {
  background-image: url(/assets/img/conocenos-4.png);
  background-position: center;
  text-align: center;
  background-repeat: no-repeat;
  font-family: para_foto;
  background-size: cover;
  border-radius: 1.25rem;
  height: 30vh;
}
.div-conocenos .conocenos-img4 h3 {
  font-size: 2.5em;
  margin-top: 20%;
  color: #fff;
}
.div-conocenos p {
  font-size: 2em;
  text-align: justify;
  font-weight: 100;
}
@media screen and (max-width: 769px) {
  .div-conocenos .conocenos-img1 {
    height: 50vh;
  }
  .div-conocenos .conocenos-img1 h3 {
    margin-top: 30%;
  }
  .div-conocenos .conocenos-img2 {
    height: 50vh;
  }
  .div-conocenos .conocenos-img3 {
    height: 50vh;
  }
  .div-conocenos .conocenos-img3 h3 {
    margin-top: 30%;
  }
  .div-conocenos .conocenos-img4 {
    height: 50vh;
  }
  .div-conocenos .conocenos-img4 h3 {
    font-size: 3.5em;
  }
}

@media screen and (max-width: 769px) {
  .conocenos-a {
    display: none;
  }
}

.conocenos-b {
  display: none;
}
@media screen and (max-width: 769px) {
  .conocenos-b {
    display: block;
  }
}

.div-contacto {
  margin-bottom: 6.25rem;
}
.div-contacto div {
  margin-top: 1.875rem;
  margin-bottom: 1.25rem;
}
.div-contacto div h1 {
  font-family: para_foto;
  font-weight: bold;
}
.div-contacto div h2 {
  text-align: left;
  margin-bottom: 2.5rem;
  font-family: para_foto;
  font-weight: bold;
}
.div-contacto div p {
  text-align: left;
}
.div-contacto div img {
  height: 15vh;
}
@media screen and (max-width: 769px) {
  .div-contacto div h2, .div-contacto div p {
    text-align: center;
  }
  .div-contacto div img {
    height: 20vh;
  }
}

.div-menu-search {
  width: 90%;
  display: inline-block;
}

.div-menu {
  margin-top: 3.125rem;
  width: 90%;
  display: inline-block;
  text-align: center;
}
.div-menu ul {
  padding: 1.875rem;
  text-align: left;
  border: 1px solid;
  border-radius: 1.25rem;
  background-color: rgb(138, 67, 67);
  border-color: rgb(138, 67, 67);
  color: #fff;
  margin-top: -40px;
}
.div-menu div h1 {
  padding-bottom: 2.5rem;
  color: #fff;
  border: 1px solid rgb(138, 67, 67);
  border-radius: 1.25rem;
  background-color: rgb(138, 67, 67);
  font-family: para_fotos;
  font-size: 1.5em;
}

.div-delivery {
  margin-bottom: 6.25rem;
}
.div-delivery div {
  margin-top: 1.875rem;
  margin-bottom: 1.25rem;
}
.div-delivery div h1 {
  font-family: para_foto;
  font-weight: bold;
}
.div-delivery form {
  background-color: #fff;
}
.div-delivery form div {
  text-align: left;
}

.corazoncito {
  background-color: #fff;
  width: 100%;
  height: 15vh;
  position: fixed;
  white-space: nowrap;
  font-family: para_nav_botones, sans-serif;
}
.corazoncito .logo {
  height: 100%;
}
.corazoncito a {
  text-decoration: none;
}
.corazoncito .ig {
  height: auto;
  transition: 1s;
  width: 4.5%;
  float: right;
  position: relative;
  margin-top: 2%;
}
.corazoncito .ig:hover {
  scale: 1.2;
  transition: 1s;
}

.resaltado {
  font-weight: bold;
  font-size: 1.8em;
  color: black;
  margin-left: 5%;
  transition: 1s;
  font-family: para_nav, sans-serif;
}
.resaltado:hover {
  transition: 1s;
  color: #A10000;
  scale: 1.3%;
}

.normal {
  font-weight: 100;
  color: grey;
  font-size: 150%;
}
.normal:hover {
  transition: 1s;
  color: #A10000;
  scale: 1.3%;
}

.corazoncito_mobile {
  display: none;
}

@media screen and (max-width: 769px) {
  .corazoncito {
    display: none;
  }
  .corazoncito_mobile {
    background-color: #fff;
    display: flex;
    padding-bottom: 5%;
  }
  .corazoncito_mobile .fotito {
    width: 100%;
    text-align: center;
  }
  .corazoncito_mobile .fotito .logo {
    width: 50%;
  }
  .corazoncito_mobile .resaltado, .corazoncito_mobile .normal {
    color: #fff !important;
    margin-top: 2%;
    margin-left: auto;
    width: 50%;
    float: inline-start;
  }
  .corazoncito_mobile .resaltado:hover, .corazoncito_mobile .normal:hover {
    scale: none;
  }
}
footer {
  background-color: rgb(138, 67, 67);
  width: 100%;
  height: 80vh;
  text-align: center;
  color: #fff;
}
footer h3 {
  font-weight: bold;
  font-size: 30px;
  margin-top: 20%;
  font-family: para_fotos;
}
footer .div_footer {
  height: 60vh;
}
footer .div_footer p {
  margin-top: 10%;
  margin-bottom: 15%;
}
footer .div_footer .p_footer {
  text-align: justify;
}
footer .div_footer .imagen_footer_1 {
  height: 30%;
}
footer .div_footer .imagen_footer_2 {
  height: 15%;
  float: inline-start;
  margin-top: 3%;
}

@media screen and (max-width: 769px) {
  .espaciado {
    display: none;
  }
  footer {
    text-align: left;
    height: 180vh;
  }
  footer h3 {
    margin-top: 10%;
  }
  footer .div_footer_medio {
    height: 30vh;
    width: 70%;
    display: inline-block;
    margin-left: 5%;
  }
  footer .div_footer {
    width: 70%;
    display: inline-block;
    margin-left: 5%;
    height: 60vh;
  }
  footer .div_footer p, footer .div_footer .p_footer {
    margin-top: 5%;
    margin-bottom: 7%;
  }
  footer .div_footer .imagen_footer_1 {
    margin-top: 1.875rem;
    height: 40%;
  }
  footer .div_footer .imagen_footer_2 {
    margin-top: 10%;
  }
}
@font-face {
  font-family: "para_fotos";
  src: url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Slab:wght@100..900&display=swap");
}
@font-face {
  font-family: "para_nav";
  src: url("https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap");
}
/* main.css */
body.dark-mode {
  background-color: #181818;
  color: #f1f1f1;
}

body.dark-mode nav,
body.dark-mode .navbar {
  background-color: #222 !important;
}

body.dark-mode .botonsito-nav,
body.dark-mode .botonsito,
body.dark-mode .botonsito-head,
body.dark-mode .boton_bordeado,
body.dark-mode .section_cambiado,
body.dark-mode .div-delivery div form {
  background-color: #333 !important;
  color: #f1f1f1 !important;
  border-color: #444 !important;
}

.icon-sun {
  color: #FFD700 !important; /* Amarillo dorado */
}

/* Agrega más estilos según lo necesites */
/* Cambia el color del icono del botón desplegable del navbar a blanco */
body.dark-mode .navbar-toggler {
  border-color: #fff;
}

body.dark-mode .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}/*# sourceMappingURL=main.css.map */