.corazoncito{
    background-color: #fff;
    width: 100%;
    height: 15vh;
    position: fixed;
    white-space: nowrap;

    .logo{
        height: 100%;
    }

    a{
        text-decoration: none;
    }

    .ig{
        height: auto;
        transition: 1s;
        width: 4.5%;
        float: right;
        position: relative;
        margin-top: 2%;
    
        &:hover{
            scale: 1.2;
            transition: 1s;
        }
    }
}

    .resaltado{
        font-weight: bold;
        font-size: 1.8em;
        color: black;
        margin-left: 5%;
        transition: 1s;

        &:hover{
            transition: 1s;
            color: #A10000;
            scale: 1.3%;
        }
    }

    .normal{
        font-weight: 100;
        color: grey;
        font-size: 150%;

        &:hover{
        transition: 1s;
        color: #A10000;
        scale: 1.3%;
        }
    }

    .corazoncito_mobile{
        display: none;
    }

    @include mobile{
        .corazoncito{
            display: none;
        }


        .corazoncito_mobile{
            background-color: #fff;
            display: flex;
            padding-bottom: 5%;

            .fotito{
                width: 100%;
                text-align: center;
                .logo{
                    width: 50%;
                }
            }

            .resaltado, .normal{
                color: #fff !important;
                margin-top: 2%;
                margin-left: auto;
                width: 50%;
                float: inline-start;

                &:hover{
                    scale: none;
                }
            }
        }
    }