.corazoncito{
    background-color: #fff;
    width: 100%;
    height: 15vh;
    position: fixed;
    white-space: nowrap;

    .logo{
        height: 100%;
    }

    a{
        text-decoration: none;
    }

    .resaltado{
        font-weight: bold;
        font-size: 200%;
        color: black;
        padding: 3%;
        margin-left: 5%;

        &:hover{
            background-color: #A10000;
            color: #fff;
        }
    }

    .normal{
        font-weight: 100;
        color: grey;
        font-size: 200%;
        padding: 3%;

        &:hover{
            background-color: #A10000;
            color: #fff;
        }
    }
}

    .ig{
        height: auto;
        transition: 1s;
        width: 4.5%;
        float: right;
        position: relative;

        &:hover{
            scale: 1.2;
            transition: 1s;
        }
    }

    @include mobile{

        .ig{
            display: none;
        }
        .resaltado{
            display: none;
        }
        .normal{
            display: none;
        }
    }