.botonsito{
    background-color: $fondo-rojo;
    text-decoration: none;
    color: $fondo-blanco;
    padding: 2vh;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    border-radius: 5rem;
    transition: 1s;
    display: inline-block; 

    &:hover{
        scale: 1.2;
        transition: 1s;
    }

}

.boton_bordeado{
    text-decoration: none;
    color: black;
    border: .3125rem solid;
    border-radius: 2.5rem;
    background-color: $fondo-blanco;
    padding: 2vh;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    border-color: $fondo-rojo;
    transition: 1s;
    display: inline-block;

    &:hover{
        scale: 1.2;
        transition: 1s;
    }
}

.botonsito-nav{
    background-color: $fondo-rojo;
    text-decoration: none;
    color: $fondo-blanco;
    transition: 1s;
    border-radius: 5rem;
    float: right;
    font-size: 1.5em;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 2.5%;

    &:hover{
        scale: 1.2;
        transition: 1s;
    }
}

.botonsito-head{
    background-color: $fondo-rojo;
    text-decoration: none;
    color: $fondo-blanco;
    padding: 2vh;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    border-radius: 5rem;
    transition: 1s;
    display: inline-block;
    
        &:hover{
        scale: 1.2;
        transition: 1s;
    }
}